In [49]:
import os
import pandas as p
import numpy as np

In [193]:
os.chdir('D:\Python')
os.getcwd()

'D:\\Python'

In [307]:
df1=p.read_csv('sudoku1.csv',header=-1)
df1.fillna(-1,inplace=True)
df1

     0    1    2    3    4    5    6    7    8
0  2.0 -1.0  8.0  1.0 -1.0 -1.0  9.0 -1.0  7.0
1  5.0 -1.0 -1.0  9.0  2.0 -1.0 -1.0 -1.0  4.0
2 -1.0  4.0  9.0  3.0 -1.0 -1.0 -1.0  6.0 -1.0
3 -1.0  8.0  1.0 -1.0 -1.0 -1.0  3.0 -1.0  6.0
4 -1.0  2.0 -1.0 -1.0 -1.0 -1.0 -1.0  7.0 -1.0
5  7.0 -1.0  6.0 -1.0 -1.0 -1.0  8.0  2.0 -1.0
6 -1.0  5.0 -1.0 -1.0 -1.0  9.0  7.0  1.0 -1.0
7  9.0 -1.0 -1.0 -1.0  8.0  5.0 -1.0 -1.0  3.0
8  8.0 -1.0  2.0 -1.0 -1.0  7.0  6.0 -1.0  5.0

In [308]:
df1

     0    1    2    3    4    5    6    7    8
0  2.0 -1.0  8.0  1.0 -1.0 -1.0  9.0 -1.0  7.0
1  5.0 -1.0 -1.0  9.0  2.0 -1.0 -1.0 -1.0  4.0
2 -1.0  4.0  9.0  3.0 -1.0 -1.0 -1.0  6.0 -1.0
3 -1.0  8.0  1.0 -1.0 -1.0 -1.0  3.0 -1.0  6.0
4 -1.0  2.0 -1.0 -1.0 -1.0 -1.0 -1.0  7.0 -1.0
5  7.0 -1.0  6.0 -1.0 -1.0 -1.0  8.0  2.0 -1.0
6 -1.0  5.0 -1.0 -1.0 -1.0  9.0  7.0  1.0 -1.0
7  9.0 -1.0 -1.0 -1.0  8.0  5.0 -1.0 -1.0  3.0
8  8.0 -1.0  2.0 -1.0 -1.0  7.0  6.0 -1.0  5.0

In [309]:
def col_check(col,key):
       flag=0
       for i in range(9):
            if df1[i][col]==key:
                    flag=1
       if flag==1:
            return False
       else:
           return True

In [213]:
def row_check(row,key):
       flag=0
       for i in range(9):
            if df1[row][i]==key:
                    flag=1
       if flag==1:
            return False
       else:
           return True

In [310]:
import math
def box_check(row,col,key):
        start_row=(math.floor(row/3)*3)
        end_row=start_row+2
        start_col=(math.floor(col/3)*3)
        end_col=(math.floor(col/3)*3)+2
        flag=0
        for i in range(start_row,end_row):
             for j in range(start_col,end_col):
                if df1[i][j]==key:
                    flag=1
        if flag==1:
            return False
        else:
            return True

In [314]:
for i in range(9):
      for j in range(9):
            if (df1[i][j]==-1):
                       for k in range(9):
                            count=0
                            flag=0
                            if row_check(i,k+1):
                                if col_check(j,k+1):
                                    if box_check(i,j,k+1):
                                        count+=1
                                        if count>1:
                                             flag=1
                                         
                            if flag==0:                
                                df1[i][j]=k+1

In [316]:
df1.to_csv('solved_sudoku1.csv')

105